<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title><%= title %></title>
  </head>
  <body>
	<header>
		<h1>my blog</h1>
		<a href="/">home</a> | <a href="/about">about me</a>
	</header>
    <section>
      <%= yield %> 
    </section>
    <footer>
      powered by <a href="http://cloudhead.io/toto">toto</a>
    </footer>
  </body>
</html>

